.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: var(--ldx-ds-breakpoint-xl);
  margin: auto;
  padding: 16px;
}

.nav ul {
  display: flex;
  flex-direction: row;
}

.nav ul li {
  list-style-type: none;
  padding: 16px;
}

.nav ul li a {
  padding: 16px;
}
