@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

.link {
  border: 2px solid black;
}

body {
  color: var(--ds-text-primary);
}

.link:hover {
  border-top: 2px solid var(--md-source);
}

/* @media (prefers-color-scheme: dark) {
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
