@import "@ldx/ds-tokens";
@import "normalize.css";

html,
:host {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
:host {
  font-family: var(--ldx-ds-font-family, "Source Sans Pro", Arial, sans-serif);
  line-height: 1.333;
  font-size: 1.125rem;
}

h1 {
  font-size: var(--ldx-ds-font-size-heading-xlarge);
  line-height: var(--ldx-ds-font-line-height-heading-xlarge);
  margin: var(--ldx-ds-spacing-8) 0;
}

h2 {
  font-size: var(--ldx-ds-font-size-heading-large);
  line-height: var(--ldx-ds-font-line-height-heading-large);
  margin: var(--ldx-ds-spacing-4) 0;
}

h3 {
  font-size: var(--ldx-ds-font-size-heading-medium);
  line-height: var(--ldx-ds-font-line-height-heading-medium);
  margin: var(--ldx-ds-spacing-2) 0;
}

h4 {
  font-size: var(--ldx-ds-font-size-xlarge);
  line-height: var(--ldx-ds-font-line-height-xlarge);
  margin: var(--ldx-ds-spacing-2) 0;
}

h5 {
  font-size: var(--ldx-ds-font-size-large);
  line-height: var(--ldx-ds-font-line-height-large);
  margin: var(--ldx-ds-spacing-2) 0;
}

h6 {
  font-size: var(--ldx-ds-font-size-medium);
  line-height: var(--ldx-ds-font-line-height-medium);
  margin: var(--ldx-ds-spacing-2) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:hover,
a:focus-visible {
  text-decoration: underline;
  border-width: 2px;
}

p {
  font-weight: 300;
}

button {
  color: inherit;
}

/* https://web.dev/prefers-reduced-motion/ */
@media (prefers-reduced-motion: reduce) {
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
