.rapportweb {
  position: relative;
  max-width: var(--ldx-ds-breakpoint-lg);
  height: 500px;
  margin: auto;

  .leaflet-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    border-radius: var(--ldx-ds-spacing-4);
    box-shadow: 0 30px 40px rgba(0,0,0,.1); // Black 0.1%
  }
}
